# Ejercicios con datos de tablas relacionadas

Importar librerías

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Definición de dos Dataframes

In [2]:
tabla1 = pd.DataFrame({'Alumno':['Pedro', 'Pedro', 'Irene', 'Samuel'], 
                    'Materia':['Matemáticas', 'Literatura', 'Matemáticas', 'Tecnología'], 
                    'Nota':[8.2, 3.4, 5.8, 6.7]})
tabla1

   Alumno      Materia  Nota
0   Pedro  Matemáticas   8.2
1   Pedro   Literatura   3.4
2   Irene  Matemáticas   5.8
3  Samuel   Tecnología   6.7

In [3]:
tabla2 = pd.DataFrame({'Asignatura':['Matemáticas', 'Literatura', 'Biología'], 
                    'Profesor':['Rodríguez', 'Díaz', 'García']})
tabla2

    Asignatura   Profesor
0  Matemáticas  Rodríguez
1   Literatura       Díaz
2     Biología     García

#### Ejercicio 1. Obten la combinación de tipo inner de las tablas 1 y 2

In [4]:
resultado = pd.merge(tabla1,tabla2, left_on='Materia', right_on='Asignatura', how='inner')
resultado.pop('Materia')
resultado

  Alumno  Nota   Asignatura   Profesor
0  Pedro   8.2  Matemáticas  Rodríguez
1  Irene   5.8  Matemáticas  Rodríguez
2  Pedro   3.4   Literatura       Díaz